<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <title>re.SOURCE My Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
         <%- include partials/_header.ejs %>
      <div class="editprofile-container">
        <form action="/api/users/:user_id/edit_profile" method="POST">
           <label for="first_name"><b>First Name</b></label>
           <input type="text" placeholder="<%=first_name%>" name="first_name"></input>

           <label for="last_name"><b>Last Name</b></label>
           <input type="text" placeholder="<%=last_name%>" name="last_name"></input>

           <label for="user_name"><b>Username</b></label>
           <input type="text" placeholder="<%=user_name%>" name="user_name"></input>

           <label for="email"><b>Email</b></label>
           <input type="email" placeholder="<%=email%>" name="email"></input>

           <label for="password"><b>Password</b></label>
           <input type="password" placeholder="<%=password%>" name="password"></input>
          <button type="submit"> Update Profile </button>
     </form>
      </div>


  </body>
</html>
